.button{
    -fx-background-color: White;
    -fx-border-color: none;
    -fx-text-fill: Black;
    -fx-padding: 8px 8px;
    -fx-text-alignment: center;
    -fx-font-size: 16px bold;
    -fx-border-radius: 50%;
}